<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ page.htmltitle }}</title>
<link href="assets/csyoufavicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{ page.style }}" />
</head><body>

<header id="top" class="banner" role="banner">
	<a class="offscreen" href="#maincontent">skip to content</a>
	<img src="static/global/img/branding.png" width="803" height="108" alt="" /> 
</header>

<section id="maincontent" class="container" role="main">

<div class="title-bar"><h1>{{ page.title }}</h1></div>

{% block control %}
	<!-- various controls go here -->
{% endblock %}

</section><!-- ./container #maincontent -->

{% block footer %}
{% endblock %}

<script src="static/global/js/all_pcore.js"></script>
<script src="static/global/js/all_gcore.js"></script>
{% block pagescripts %}
{% endblock %}

{% block analytics %}
{% endblock %}
</body></html>
