
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.nodelabel {
  pointer-events: none;
  font-weight:600;
  display:inline-block;
  background:#fff;
  line-height:20px;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .4;
}

.link:hover {
  stroke-opacity: .8;
}

p {
	height:1500px;
}